.productImage {
    border-radius: 0;
}
.productName {
    font-family: "Lato-Bold";
    color: #000000;
}
.productBrandName {
    font-family: "Lato-Bold";
    color: #000000;
}
.productVariationsContainer, .quantitySelectorContainer :global(.vtex-dropdown__button)  {
    font-family: "Lato";
    
}
.quantitySelectorContainer :global(.vtex-styleguide-9-x-container) {
border-radius: 0;
}
.price {
    font-family: "Lato-Bold";
    color: #000000;
}
.productBrandName, .productVariationsContainer .productVariationsItem:first-child, .productVariationsContainer .productVariationsItem:last-child, .productVariationsContainer .productVariationsItem:nth-child(4n-2) {
   display: none;
}
