.buttonText--add-to-cart-summary {
   font-size: 16px;
   font-family: "Lato-Bold";
   text-transform: initial;
   color: #0060aa;
}
.buttonText--pdp-cart-button  {
   font-size: 16px;
   font-family: "Lato-Bold";
   text-transform: initial;
   color: #ffffff;
   padding: 10px 0;
}